<!--User layout kullandık.-->
@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section class="section">
    <div class=" text-center text-white"><h1>BLOGLAR</h1></div>
    <div class="container">

        <div class="banner1-bottom-grids">
            @foreach (var item in Model)
            {//Veritabanındaki blog sayısı kadar bloğun olması sağlandı
                <div class="col-md-4 banner-bottom-grid-left">

                    <div class="br-bm-gd-lt p-3">
                        <img src="@item.BlogImage" class="blogimage" />
                        <div class="overlay">

                            <div class="arrow-left"></div>
                            <div class="rectangle"></div>
                        </div>

                        <div class="health-pos">

                            <div class="health">

                                <ul>
                                    <li><a>@item.Category.CategoryName</a></li>
                                    <li>@(((DateTime)item.BlogCreateDate).ToString("dd-MM-yyyy"))</li>
                                </ul>
                            </div>
                            <h3>@item.BlogTitle</h3>
                            <div class="dummy">
                                <p>@(item.BlogContent.Length > 130 ? item.BlogContent.Substring(0, item.BlogContent.Substring(0,135).LastIndexOf(" "))+"..." : item.BlogContent +"...")</p>

                                <a href="/Blog/BlogReadAll/@item.BlogID"><button class="btn btn-secondary">Devam</button></a>
                            </div>

                        </div>
                    </div>
                </div>
            }
            <div class="clearfix"> </div>

        </div>
</section>

<!-- video-grids -->

<!-- //video-grids -->
<!-- video-bottom-grids -->

<!-- //video-bottom-grids -->
<!-- news-and-events -->

<!-- //news-and-events -->




